<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
    
  <% if(fondo == "Gris"){ %>
    <body style="background-color: #fbfd88;" >
  <% }else{ %>
    <body>
  <% } %>

  <% if(fondo == "Verde"){ %>
      <body style="background-color: #75ff9a;" >
  <% }else{ %>
      <body>
  <% } %>

  <% if(fondo == "Azul"){ %>
      <body style="background-color: #7593ff;" >
  <% }else{ %>
      <body>
  <% } %>

    <h1><%= title %></h1>

    <form action="/" method="post">
      <label for="nombre">Ingrese su nombre</label>
      <input type="text" name="nombre" id="" value="<%= locals.old && old.nombre %>">
      <% if(locals.errors && errors.nombre){ %>
          <p><%= errors.nombre.msg %></p>
      <% } %>

      <br>
      <br>

      <label for="mail">Ingrese su email</label>
      <input type="text" name="mail" id="" value="<%= locals.old && old.mail %>">
      <% if(locals.errors && errors.mail){ %>
        <p><%= errors.mail.msg %></p>
      <% } %>

      <br>

      <label for="edad">Ingrese su edad</label>
      <input type="tel" name="edad" id="" value="<%= locals.old && old.edad %>">
      <% if(locals.errors && errors.edad){ %>
        <p><%= errors.edad.msg %></p>
      <% } %>

      
      <br>

      <label for="fondo">Elija un color de fondo</label>
      <select name="fondo" id="">
        <option value="" selected disabled > -- Elija un color -- </option>
        <option value="Amarillo">Amarillo</option>
        <option value="Verde">Verde</option>
        <option value="Azul">Azul</option>
        <% if(locals.errors && errors.fondo){ %>
          <option selected value="<%= locals.old && old.fondo %>"><%= locals.old && old.fondo %></option>
        <% } %>
      </select>

        <% if(locals.errors && errors.fondo){ %>
          <p><%= errors.fondo.msg %></p>
        <% } %>
        

      <br>

      <div>
        <input type="checkbox" name="check_color" id="">Recordar color
      </div>
      
      <% if(fondo == "Gris"){ %>
        <br>
        <br>
        <br>
        <br>
        <button type="submit">Borrar fondo <%= fondo %></button>
      <% } %>
      
      <% if(fondo == "Verde"){ %>
        <br>
        <br>
        <br>
        <br>
        <button type="submit">Borrar fondo <%= fondo %></button>
      <% } %>

      <% if(fondo == "Azul"){ %>
        <br>
        <br>
        <br>
        <br>
        <button type="submit">Borrar fondo <%= fondo %></button>
      <% } %>
      <br>
      <br>

      <button type="submit">ENVIAR</button>

    </form>
  <script>
    let borrar = document.querySelector("#borrar_fondo")
    borrar.addEventListener('click',()=>{
    })
  </script>
  </body>
</html>